sqlmodel
fastapi
uvicorn[standard]
python-dotenv
pymysql
cryptography
sqlalchemy
alembic
mercadopago
email-validator
python-jose[cryptography]
passlib[bcrypt]
python-multipart
openpyxl

# Testing
pytest
httpx

