@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light; /* forzar claro */
  color: #213547;
  background-color: #ffffff;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f8fafc; /* gris claro */
}

/* Inputs/selects en blanco por defecto */
input, select, textarea {
  background-color: #ffffff;
  color: #111827; /* gray-900 */
}

/* Quitar modo oscuro automático */
@media (prefers-color-scheme: light) {
  :root { color: #213547; background-color: #ffffff; }
}
